{% extends 'accounts/main.html' %}
{% block title %} Order form {% endblock %}


{% block content %}


<div class="container mt-5">
    <form action="" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
        <div class="row mt-2 ">

            <div class="col ">
                Product: {{ form.product }}
            </div>
            <div class="col ">
                Status: {{ form.status }}
            </div>
            <div class="col ">
                Delete: {{ form.DELETE }}
            </div>

        </div>
        <hr>

        {% endfor %}


        <input class="btn  btn-outline-success mt-5" type="submit" name="Submit" value="Submit">
    </form>
</div>


{% endblock %}