{% extends 'accounts/main.html' %}
{% block title %} Update Customer form {% endblock %}


{% block content %}


<form action="" method="POST">
    <div class="container mt-5">
        {% csrf_token %}
        <div class="row mt-2 ">

            <div class="col-md-12 mt-2">
                {{ form.name.label }}
                {{ form.name }}
            </div>

            <div class="col-md-12 mt-2">
                {{ form.phone.label }}
                {{ form.phone }}
            </div>

            <div class="col-md-12 mt-2">
                {{ form.email.label }}
                {{ form.email }}
            </div>

            <div class="col-md-12 mt-2">
                {{ form.profile_pic.label }}
                {{ form.profile_pic }}
            </div>

        </div>
        <input class="btn  btn-outline-success mt-5" type="submit" name="Submit" value="Submit">
    </div>
</form>


{% endblock %}